* {
  text-align: center;
}

body {
  background: #746893
}


h1 {
    text-align: center;
    font-size: 30px;
    color: #ffffff;
    font-family: "Comic Sans MS", cursive, sans-serif;
}

#addText {
  width: 450px;
  height: 30px;
  margin: 0 auto;
  text-align: left
}

#addButton {
  width: 80px
  height: 30px
  font-family: "Comic Sans MS", cursive, sans-serif;
}


#toDoCanvas {
  color: #ffffff
  display: block;
  margin: 0;
  border-color: #ffffff
}
